<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Regione Lazio</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: darkcyan;">

<h1 style="margin-left: 500px; color: gold;">PROVINCIA DI RIETI</h1>

<br><br>

	<div style="margin-left: 10%;">
		
<img src="https://th.bing.com/th/id/OIP.9-Q6xMXniTdILHg6x1YZ9gHaHa?w=167&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7" 
width="40%"
style="border-radius: 5%; border: solid;">



	</div>
	
	
	
	
</body>
</html>