<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Regione Lazio</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>        
    $(document).ready(function(){
          $("#menuButton").click(function(){
            $("#menu").slideToggle();
          }); 
        });
	</script>
</head>

<body style="background-color: darkcyan; ">

<h1 style="margin-left: 500px; color: gold;">PROVINCIA DI VITERBO</h1>

<br><br>

	<div style="margin-left: 10%; float: left; ">
		
<img src="https://th.bing.com/th/id/OIP.XXJd5I4YLLMNRA_ZYiNYwAAAAA?w=182&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7" 

style="border-radius: 5%; border:solid; width: 150%;">



	</div>
	
	<div style="float: left; margin-left: 10%;">
		<div class="skill" style="float:left">
				
				<button id="menuButton" style="background-color: gold; border-radius: 10%; border:solid;" ><i class="fa-solid fa-bars" > MENU </i></button>
					
					<div id="menu" style="display:none; ">
							<br>
							<a href="https://it.wikipedia.org/wiki/Provincia_di_Viterbo" style="color: black;"><b>- STORIA DELLA PROVINCIA</b></a>
							<br>
							<a href="http://www.comuni-italiani.it/056/lista.html" style="color: black;"><b>- I COMUNI DELLA PROVINCIA</b></a>
					</div>
			</div>	
					
		
	</div>
	
	
	
</body>
</html>