<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Regione Lazio</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: darkcyan;">

<h1 style="margin-left: 500px;">REGIONE LAZIO</h1>

<br><br>

	<div style="margin-left: 10%;">
		
<img src="https://th.bing.com/th/id/OIP.6rdPc-7Pk-nwcuRNYaB0IQHaHk?w=193&h=197&c=7&r=0&o=5&dpr=1.4&pid=1.7" usemap="#image_map" style="border-radius: 25%; border:solid">
<map name="image_map">
  <area alt="Viterbo" title="Viterbo" href="" coords="58,46,44" shape="circle">
  <area alt="Rieti" title="Rieti" href="" coords="159,46,45" shape="circle">
  <area alt="Roma" title="Roma" href="" coords="54,93 101,85 161,101 169,155 128,161 94,156 " shape="polygon">
  <area alt="Latina" title="Latina" href="" coords="118,169 127,166 145,168 155,158 167,166 251,205 241,216 173,215 140,189 " shape="polygon">
  <area alt="Frosinone" title="Frosinone" href="" coords="171,132 174,152 196,179 252,198 268,168 258,145 193,117 " shape="polygon">
</map>
<table style="margin-left: 40%; margin-top: -10%;">
	<tr>
		<th>
			<a href="http://localhost:8080/Politicando/giunta-lista-lazio">
			<button style= "background-color: gold; border-radius: 80%; padding: 5%; color: black;"> GIUNTA REGIONE LAZIO </button>
			</a>
		</th>
	</tr>
	
</table>
	</div>
	
	
	
	
</body>
</html>